@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --mainColor: rgb(0, 0, 161);
    --mainColorOpacity: rgba(0, 0, 161, 0.7);
    --ligthMainColor: rgb(214, 214, 255);

    --secondColor: #b52e35;

    --gray: #dadada;
}

body {
    min-height: 100vh;
    background-color: #ececec;
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
}

.container {
    max-width: 100vw;
    padding: 0 30px;
    margin: 0 auto;
}

.title {
    display: flex;
    border-bottom: 2px solid rgba(255, 255, 255, 0.3);
    color: #000;
}

@media (max-width: 550px) {
    .title {
        font-size: 22px;
    }
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
}

@media (max-width: 700px) {
    .header-container {
        padding: 10px 25px;
    }
}

header {
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: white;
}

.user-stats {
    display: flex;
    color: #003366;
    gap: 15px;
    font-size: 14px;
    font-weight: bold;
}

.web-title {
    font-size: 30px;
    font-weight: 700;
    color: #000;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 10px;

    & img {
        width: 40px;
    }
}

@media (max-width: 1000px) {
    .web-title {
        font-size: 25px;

        & img {
            width: 35px;
        }
    }
}

@media (max-width: 700px) {
    .web-title {
        margin-left: 0;
        font-size: 25px;

        & img {
            width: 35px;
        }
    }
}

@media (max-width: 550px) {
    .web-title {
        font-size: 20px;

        & img {
            width: 35px;
        }
    }
}

.button-group {
    display: flex;
    gap: 15px;
    align-items: center;
}

@media (max-width: 550px) {
    .button-group {
        gap: 5px;
    }
}

.mobile-nav {
    display: none;
    margin-left: 10px;

    & .burger {
        display: flex;
        color: black;
        cursor: pointer;
    }

    & .list {
        position: fixed;
        right: -90%;
        top: 0;
        bottom: 0;
        background-color: var(--mainColor);
        z-index: 999;
        transition: all .3s ease-in-out;

        &.active {
            right: 0;
        }

        & .close_btn {
            display: flex;
            justify-content: end;
            margin: 10px 0;
            padding-right: 10px;

            & div {
                cursor: pointer;
            }
        }

        & a {
            display: block;
            width: 100%;
            color: white;
            padding: 20px 70px;
            text-align: center;
            border-bottom: 2px solid var(--secondColor);
        }
    }
}

@media (max-width: 550px) {
    .mobile-nav {
        margin-left: 0;
    }
}

.enter-button a {
    text-decoration: none;
    color: white;
    background-color: var(--mainColorOpacity);
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    transition: all .3s ease-in-out;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

@media (max-width: 1000px) {

    .enter-button.signup {
        display: none;
    }

    .enter-button.logOut {
        display: none;
    }

    .mobile-nav {
        display: block;
    }
}

.enter-button a:hover {
    background-color: var(--mainColor);
    transform: scale(1.05);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

/* NAV */

.main-container {
    display: flex;
    gap: 20px;
    margin-top: 20px;

    & nav {
        width: 30%;
        position: relative;
        background: #fff;
        border-right: 1px solid rgba(255, 255, 255, 0.3);
        box-shadow: 2px 0px 8px rgba(0, 0, 0, 0.1);
        padding: 20px 15px;
        border-radius: 10px;
    }

    & .nav-button {
        margin: 5px 0;
        border-radius: 8px;
        transition: all 0.3s ease-in-out;
    }

    & nav .nav-button:hover {
        transform: scale(1.02);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    }

    & nav a {
        display: flex;
        padding: 20px 10px;
        align-items: center;
        cursor: pointer;
        font-weight: 400;
        font-size: 16px;
        color: black;
        transition: color 0.3s, text-shadow 0.3s;
        gap: 10px;
    }

    & nav .nav-button.active {
        background-color: #003366;
        border-left: 4px solid #ffcc00;
        transform: scale(1.08);
        box-shadow: 0 6px 15px rgba(255, 204, 0, 0.4);
    }
}

@media (max-width: 1200px) {
    .main-container {
        & .nav-button a {
            padding: 15px 5px;
        }
    }
}

@media (max-width: 1000px) {
    .main-container {
        nav {
            display: none;
        }
    }
}

@media (max-width: 768px) {
    .main-container {
        & nav {
            flex: 100%;
            border-right: none;
            border-bottom: 1px solid rgba(255, 255, 255, 0.2);
            border-radius: 0;
        }

        & nav .nav-button {
            text-align: center;
            margin: 10px 0;
            padding: 12px 18px;
        }

        & nav a {
            font-size: 16px;
        }
    }
}


@media (max-width: 700px) {
    .main-container {
        padding: 0 10px;
    }
}


.main-display {
    width: 100%;
    position: relative;
    background: #fff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    padding: 30px;
    border-radius: 10px;
}

@media (max-width:1200px) {
    .main-display {
        padding: 20px;
    }
}

/* Forma uchun style */
.login-section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.i42-form {
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    background-color: #fff;
}

.i42-form .form-action-title {
    font-weight: 800;
    font-size: 25px;
    color: #000;
    margin-bottom: 20px;
}

.i42-form label {
    display: block;
    font-weight: bold;
    color: #000;
    margin-bottom: 5px;
    font-size: 14px;
}

.i42-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 400;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
    font-family: 'Open Sans', sans-serif;
}

.i42-form input:focus {
    border-color: var(--mainColor);
    outline: none;
    box-shadow: 0 0 3px var(--mainColorOpacity);
}

.i42-form button:hover {
    background-color: var(--mainColor);
    transform: translateY(-2px);
}

.i42-form button {
    width: 100%;
    padding: 12px;
    background-color: var(--mainColorOpacity);
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.i42-form button:hover {
    background-color: #003366;
    transform: scale(1.02);
}

.i42-form button:active {
    transform: scale(0.98);
    background-color: #004080;
}






/* FUCKING FLASK /////////////// WARNING FUCKIN FLASH //////////  */
.flash-messages {
    margin-top: 10px;
}

.flash {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.flash.error {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}

.flash.success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}

/* Kontent konteyneri */

.theme-grid {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px 15px;
}

.theme-card {
    border-radius: 12px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: all .3s ease-in-out;
    border: 1px solid var(--gray);

    & .line {
        width: 100%;
        height: 1px;
        background-color: var(--gray);
        margin: 10px 0;
    }
}

@media (max-width: 1136px) {
    .theme-card {
        width: calc(95% / 2);
    }
}

@media (max-width: 550px) {
    .theme-card {
        width: 100%;
    }
}

.theme-card a {
    text-decoration: none;
    color: #003366;
    display: block;
    padding: 20px;
}

.icon-wrap {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--ligthMainColor);
    border-radius: 10px;

    font-size: 18px;
    margin-bottom: 10px;

    & svg {
        width: 20px;
        height: 20px;
        fill: blue;
    }
}

.theme-card h3 {
    color: var(--mainColor);
}

.theme-card p {
    font-size: 14px;
    max-width: 204.5px;
}

@media (max-width: 1000px) {
    .theme-card p {
        max-width: 100%;
    }
}

.matter-list {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#matter-list-item {
    list-style-type: none;
    padding: 0;
}

#matter-list-item li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.matter-theme-name {
    font-size: 18px;
}

.matter-pagination {
    margin-top: 20px;
    text-align: center;
}

.matter-pagination a {
    text-decoration: none;
    font-weight: bold;
    margin: 0 10px;
}

.matter-solved {
    color: green;
}

.matter-unsolved {
    color: red;
}


/* quiz list */
.quiz-container {
    width: 70%;
    margin: 30px auto;
    padding: 20px;
    background: #ffffff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    text-align: center;
}

/* Foydalanuvchi statistikasi */
.user-stats {
    background-color: #f8f8f8;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

@media (max-width: 1000px) {
    .user-stats {
        padding: 10px;
        gap: 20px;
    }
}

@media (max-width: 700px) {
    .user-stats {
        display: none;
    }
}

.user-stats span {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.user-stats p {
    font-size: 16px;
    color: #333;
    margin: 5px 0;
}

/* Testlar ro‘yxati */
.quiz-list {
    list-style: none;
    padding: 0;
}

.quiz-item {
    background: #ffffff;
    padding: 12px;
    border-radius: 10px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    transition: transform 0.3s ease-in-out;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.quiz-item:hover {
    transform: scale(1.05);
}

/* Test linklari */
.quiz-item a {
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: #003366;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
}

/* Savollar soni */
.question-count {
    font-size: 14px;
    color: #555;
    margin-right: 15px;
}

/* Yechilgan va yechilmagan test statusi */
.status {
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
}

.solved {
    color: green;
}

.unsolved {
    color: red;
}

/* Ball ko‘rsatish */
.score {
    font-size: 14px;
    font-weight: bold;
    color: blue;
}

/* Calc Matter */
.calc-form {
    background-color: #fff;
    border: 2px solid #0066cc;
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    max-width: 500px;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 51, 102, 0.2);
}

.calc-matter-question {
    font-size: 18px;
    color: #003366;
    font-weight: bold;
    margin-bottom: 15px;
}

.calc-matter-helper {
    font-size: 16px;
    color: #0066cc;
    background-color: rgba(0, 102, 204, 0.1);
    padding: 10px;
    border-radius: 5px;
}

.calc-form input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #0066cc;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 10px;
}

.calc-form button {
    width: 100%;
    padding: 10px;
    background-color: #0066cc;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

.calc-form button:hover {
    background-color: #003366;
}

.calc-form a {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: #0066cc;
    font-weight: bold;
    text-decoration: none;
}

.calc-form a:hover {
    color: #003366;
}


/* tests | quiz */
.quiz-form {
    width: 80%;
    max-width: 600px;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.quiz-title {
    text-align: center;
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

.quiz-question {
    background-color: #fafafa;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.quiz-option {
    display: inline-block;
    width: 48%;
    margin: 5px 0;
    padding-left: 25px;
    font-size: 16px;
    color: #555;
    position: relative;
    cursor: pointer;
}

.quiz-option input[type="radio"] {
    position: absolute;
    left: 0;
    top: 0;
    transform: scale(1.2);
    transition: all 0.3s ease;
}

.quiz-option:hover {
    color: #0078ff;
}

.quiz-submit-btn {
    width: 100%;
    padding: 14px;
    font-size: 18px;
    background-color: #0078ff;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin-top: 20px;
}

.quiz-submit-btn:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.quiz-navigation-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
}

.quiz-navigation-buttons .quiz-button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: 2px solid #4CAF50;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    transition: background-color 0.3s;
}

.quiz-navigation-buttons .quiz-button:hover {
    background-color: #45a049;
}

.quiz-navbar {
    background-color: #333;
    padding: 10px;
    text-align: center;
}

.quiz-navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40px, 1fr));
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.quiz-navbar-item {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: #777;
}

.quiz-navbar-item a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.quiz-result {
    text-align: center;
    padding: 20px;
}

.quiz-result a {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #0078ff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.quiz-result a:hover {
    background-color: #0056b3;
}

/* lab list */

.lab-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px 15px;
}

.lab1-card {
    max-width: calc(96% / 3);
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
}

@media (max-width: 1200px) {
    .lab1-card {
        max-width: calc(97% / 2);
    }
}

@media (max-width: 800px) {
    .lab1-card {
        max-width: 100%;
    }
}

.lab1-image {
    width: 100%;
    height: 200px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    overflow: hidden;
}

.lab1-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.lab1-info {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;

    &>div {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}

.lab1-title {
    font-size: 22px;
    color: #0078ff;

    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.lab1-description {
    font-size: 16px;
    color: #333;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.lab1-enter-btn {
    /* margin-top: 10px; */
    display: inline-block;

    & button {
        background-color: #0078ff;
        color: white;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
        transition: all 0.3s ease;
    }
}

/* Profile */

.profile-container {
    width: 100%;

    & .stats {
        display: flex;
        flex-direction: column;
        background-color: #FFF;
        border-radius: 10px;
        margin-bottom: 20px;

        & span {
            margin-right: 10px;
        }

        & div {
            padding: 10px 15px;
            display: flex;
            align-items: center;
        }
    }

    & form {
        max-width: 100%;
    }
}

/*lab 1 */
.responsive-iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    border: solid white 10px;
    border-radius: 15px;
}


/* leader board */
.leaderboard-container {
    .leaderboard-table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
        color: #000;
        font-size: 14px;
    }

    .leaderboard-th,
    .leaderboard-td {
        padding: 5px 0;
        border: 1px solid #000;
        text-align: center;
    }

    .leaderboard-th {
        background: rgba(255, 255, 255, 0.2);
        color: #000;
    }

    .leaderboard-th div {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
    }
}

/* TEAM PART */

.team-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.our-team {
    text-align: center;
    overflow: hidden;
    position: relative;

    &#mexroj img {
        object-position: bottom;
    }

    &#jumanazar img {
        height: 100%;
        object-position: center;
    }

    &#abbos img {
        height: 500px;
        object-position: center;
    }

    &#me img {
        height: 100%;
        object-position: center;
    }
}

.our-team img {
    width: 250px;
    object-fit: cover;
}

.our-team .team-content {
    width: 100%;
    background: var(--mainColor);
    color: #fff;
    padding: 15px 0 10px 0;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    transition: all 0.3s ease 0s;
}

.our-team:hover .team-content {
    padding-bottom: 40px;
}

.our-team .team-content:before,
.our-team .team-content:after {
    content: "";
    width: 60%;
    height: 38px;
    background: var(--mainColor);
    position: absolute;
    top: -18px;
    transform: rotate(15deg);
    z-index: -1;
}

.our-team .team-content:before {
    left: -3%;
}

.our-team .team-content:after {
    right: -3%;
    transform: rotate(-15deg);
}

.our-team .title {
    display: inline-block;
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
    margin: 0 0 7px 0;
    position: relative;
    border-bottom: none;
    text-align: center;
    color: white;
}

.our-team .title:before,
.our-team .title:after {
    content: "";
    width: 7px;
    height: 93px;
    background: var(--secondColor);
    position: absolute;
    top: -75px;
    z-index: -2;
    transform: rotate(-74deg);
}

.our-team .title:before {
    left: 32%;
}

.our-team .title:after {
    right: 32%;
    transform: rotate(74deg);
}

.our-team .post {
    display: block;
    font-size: 13px;
    text-transform: capitalize;
    margin-bottom: 8px;
}

.our-team .social-links {
    list-style: none;
    padding: 0 0 15px 0;
    margin: 0;
    position: absolute;
    bottom: -40px;
    right: 0;
    left: 0;
    transition: all 0.5s ease 0s;
}

.our-team:hover .social-links {
    bottom: 0;
}

.our-team .social-links li {
    display: inline-block;
}

.our-team .social-links li a {
    display: block;
    font-size: 16px;
    color: #aad6e1;
    margin-right: 6px;
    transition: all 0.5s ease 0s;
}

.our-team .social-links li:last-child a {
    margin-right: 0;
}

.our-team .social-links li a:hover {
    color: var(--secondColor);
}

@media only screen and (max-width: 990px) {
    .our-team {
        margin-bottom: 30px;
    }

    .our-team .team-content:before,
    .our-team .team-content:after {
        height: 50px;
        top: -24px;
    }

    .our-team .title:before,
    .our-team .title:after {
        top: -85px;
        height: 102px;
    }

    .our-team .title:before {
        left: 35%;
    }

    .our-team .title:after {
        right: 35%;
    }
}

@media only screen and (max-width: 767px) {

    .our-team .team-content:before,
    .our-team .team-content:after {
        height: 75px;
    }

    .our-team .team-content:before {
        transform: rotate(8deg);
    }

    .our-team .team-content:after {
        transform: rotate(-8deg);
    }

    .our-team .title:before,
    .our-team .title:after {
        width: 10px;
        top: -78px;
        height: 102px;
    }

    .our-team .title:before {
        left: 42.5%;
        transform: rotate(-82deg);
    }

    .our-team .title:after {
        right: 42.5%;
        transform: rotate(82deg);
    }
}

@media only screen and (max-width: 480px) {

    .our-team .title:before,
    .our-team .title:after {
        top: -83px;
    }
}