<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin panel</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='admin.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='fontawesome-free-6.7.2-web/css/all.css')}}">
</head>

<body>
    <div class="con">
        <div class="nav">
            <a href="/logout">
                <div class="back">
                    <i class="fa-solid fa-sign-out"></i>
                </div>
            </a>
            <div class="question_menu" >
                <div class="question">
                    Masala qo'shish
                </div>
                <div class="test">
                    Test qo'shish
                </div>
                <div class="animation">
                    Animatsiya qo'shish
                </div>
                <div class="labaratory">
                    Labaratoriya qo'shish
                </div>
                <div class="theme">
                    Mavzu qo'shish
                </div>
            </div>
        </div>
        <header>
            <div class="nav2">
                <div class="menu">
                    <div class="question_page">
                        Masalalar
                    </div>
                    <div class="test_page">
                        Testlar
                    </div>
                    <div class="animation_page">
                        Animatsiyalar
                    </div>
                    <div class="lab_page">
                        Labaratoriyalar
                    </div>
                    <div class="theme_page">
                        Mavzular
                    </div>
                </div>
            </div>
            <div class="elem_boxs">
                <div class="question_box">
                    <h1>Masalalar</h1>
                    <form id="q_search_form">
                        <input type="search" id="q_search_input" name="prefix" placeholder="Qidirish..."
                            autocomplete="off">
                    </form>
                    <div class="edit_boxs q_boxs">

                    </div>
                    <div class="edit_loader q_loader">
                        <div></div>
                    </div>
                </div>
                <div class="test_box">
                    <h1>Testlar</h1>
                    <form id="t_search_form">
                        <input type="search" id="t_search_input" name="prefix" placeholder="Qidirish..."
                            autocomplete="off">
                    </form>
                    <div class="edit_boxs t_boxs">
                    </div>
                    <div class="edit_loader t_loader">
                        <div></div>
                    </div>
                </div>
                <div class="animation_box">
                    <h1>Animatsiyalar</h1>
                    <form id="a_search_form">
                        <input type="search" id="a_search_input" name="prefix" placeholder="Qidirish..."
                            autocomplete="off">
                    </form>
                    <div class="edit_boxs a_boxs" style="overflow-y: auto;">
                        
                    </div>
                    <div class="edit_loader a_loader">
                        <div></div>
                    </div>
                </div>
                <div class="lab_box">
                    <h1>Labaratoriyalar</h1>
                    <form id="l_search_form">
                        <input type="search" id="l_search_input" name="prefix" placeholder="Qidirish..."
                            autocomplete="off">
                    </form>
                    <div class="edit_boxs l_boxs" style="overflow-y: auto;">
                        
                    </div>
                    <div class="edit_loader a_loader">
                        <div></div>
                    </div>
                </div>
                <div class="theme_box">
                    <h1>Mavzular</h1>
                    <div class="th_box"></div>
                </div>
            </div>
        </header>
    </div>
    <div class="modals">
        <div class="question_modal">
            <span class="q_exit exit">
                <i class="fa-solid fa-xmark"></i>
            </span>
            <h1>Masala qo'shish</h1>
            <form action="#" class="q_form">
                <div class="input-i">
                    <input type="text" id="title" required>
                    <label for="title" class="title">
                        Masala nomi
                    </label>
                </div>
                <div class="input-i">
                    <textarea type="text" id="shart" required></textarea>
                    <label for="shart" class="shart">
                        Masalaning sharti
                    </label>
                </div>
                <div class="input-i">
                    <textarea name="izoh" id="izoh" required></textarea>
                    <label for="izoh" class="izoh">
                        Izoh qoldirish
                    </label>
                </div>
                <div class="input-i">
                    <input type="text" id="javob" required>
                    <label for="javob" class="javob">
                        To'g'ri javob
                    </label>
                </div>
                <div class="input-i">
                    <input type="number" id="ball_q" required>
                    <label for="ball_q" class="ball_q">
                        Ball
                    </label>
                </div>
                <div class="input-i">
                    <select id="mavzusi"></select>
                    <label for="mavzusi" class="mavzulari">
                        Masala mavzulari
                    </label>
                </div>
                <button type="submit">Qo'shish</button>
            </form>
            <form action="#" class="q_form_edit">
                <div class="input-i">
                    <input type="text" id="title_edit" required>
                    <label for="title_edit" class="title">
                        Masala nomi
                    </label>
                </div>
                <div class="input-i">
                    <textarea type="text" id="shart_edit" required></textarea>
                    <label for="shart_edit" class="shart">
                        Masalaning sharti
                    </label>
                </div>
                <div class="input-i">
                    <textarea name="izoh" id="izoh_edit" required></textarea>
                    <label for="izoh_edit" class="izoh">
                        Izoh qoldirish
                    </label>
                </div>
                <div class="input-i">
                    <input type="text" id="javob_edit" required>
                    <label for="javob_edit" class="javob">
                        To'g'ri javob
                    </label>
                </div>
                <div class="input-i">
                    <input type="number" id="ball_q_edit" required>
                    <label for="ball_q_edit" class="ball_q">
                        Ball
                    </label>
                </div>
                <div class="input-i">
                    <select id="mavzusi_edit"></select>
                    <label for="mavzusi_edit" class="mavzulari">
                        Masala mavzulari
                    </label>
                </div>
                <button type="submit">Kiritish</button>
            </form>
        </div>
        <div class="test_modal">
            <span class="t_exit exit">
                <i class="fa-solid fa-xmark"></i>
            </span>
            <form action="#" class="t_form">
                <h1>Test qo'shish</h1>
                <div class="input-i">
                    <input type="text" id="t_title" required>
                    <label for="t_title" class="title">
                        Test nomi
                    </label>
                </div>
                <div class="input-i">
                    <select id="t_mavzusi"></select>
                    <label for="t_mavzusi" class="mavzulari">
                        Test mavzusi
                    </label>
                </div>
                <div class="tests">
                    <div class="test_s--wrapper">
                        <span>Savollar soni:</span>
                        <span class="q_number">0</span>
                    </div>
                    <div class="tests--wrapper">
                    </div>
                    <span class="t_plus">
                        <i class="fa-solid fa-plus"></i>
                    </span>
                </div>
                <button type="submit">Qo'shish</button>
            </form>
            <form action="#" class="t_form_edit">
                <h1>Test qo'shish</h1>
                <div class="input-i">
                    <input type="text" id="t_title_edit" required>
                    <label for="t_title_edit" class="title">
                        Test nomi
                    </label>
                </div>
                <div class="input-i">
                    <select id="t_mavzusi_edit"></select>
                    <label for="t_mavzusi_edit" class="mavzulari">
                        Test mavzusi
                    </label>
                </div>
                <div class="tests">
                    <div class="test_s--wrapper">
                        <span>Savollar soni:</span>
                        <span class="q_number_edit">0</span>
                    </div>
                    <div class="tests_edit--wrapper">
                    </div>
                    <span class="t_plus_edit">
                        <i class="fa-solid fa-plus"></i>
                    </span>
                </div>
                <button type="submit">Kiritish</button>
            </form>
        </div>
        <div class="anima_modal">
            <span class="a_exit exit">
                <i class="fa-solid fa-xmark"></i>
            </span>
            <h1>
                Animatsiya qo'shish
            </h1>
            <form action="#" class="a_form">
                <div class="input-i">
                    <input type="text" id="a_title" required>
                    <label for="a_title" class="title">
                        Animatsiya nomi
                    </label>
                </div>
                <div class="input-i">
                    <select id="a_mavzusi"></select>
                    <label for="a_mavzusi" class="mavzulari">
                        Gif mavzusi
                    </label>
                </div>
                <div class="input-i">
                    <input type="file" accept="image/gif" id="a_gif" required>
                </div>
                <div class="input-i">
                    <input type="text" id="a_about" required>
                    <label for="a_about" class="title">
                        Ma'lumot
                    </label>
                </div>
                <button type="submit">Qo'shish</button>
            </form>
        </div>
        <div class="lab_modal">
            <span class="l_exit exit">
                <i class="fa-solid fa-xmark"></i>
            </span>
            <h1>
                Labaratoriya qo'shish
            </h1>
            <form action="#" class="l_form">
                <div class="input-i">
                    <input type="text" id="l_title" required>
                    <label for="l_title" class="title">
                        Labaratoriya nomi
                    </label>
                </div>
                <div class="input-i">
                    <input type="file" accept="image/*" id="l_image" required>
                </div>
                <div class="input-i">
                    <input type="text" id="l_url" required>
                    <label for="l_url" class="title">
                        Labaratoriya linki (URL)
                    </label>
                </div>
                <div class="input-i">
                    <input type="text" id="l_about" required>
                    <label for="l_about" class="title">
                        Ma'lumot
                    </label>
                </div>
                <button type="submit">Qo'shish</button>
            </form>
        </div>
        <div class="theme_modal">
            <span class="m_exit exit">
                <i class="fa-solid fa-xmark"></i>
            </span>
            <h1>
                Mavzu qo'shish
            </h1>
            <form action="#" class="m_form">
                <div class="input-i">
                    <input type="text" id="m_title" required>
                    <label for="m_title" class="title">
                        Mavzu
                    </label>
                </div>
                <div class="input-i">
                    <input type="text" id="m_about" required>
                    <label for="m_about" class="title">
                        Ma'lumot
                    </label>
                </div>
                <button type="submit">Qo'shish</button>
            </form>
        </div>
    </div>
    <div class="little_modal">
        <div class="modal">
            <span class="l_exit exit">
                <i class="fa-solid fa-xmark"></i>
            </span>
            <form action="#" class="sv_q">
                <div class="input-i">
                    <input type="text" id="l_savol" required>
                    <label for="l_savol" class="savol">
                        Savol
                    </label>
                </div>
                <div class="input-i">
                    <input type="number" id="l_ball" required>
                    <label for="l_ball" class="savol">
                        Ball
                    </label>
                </div>
                <div class="v_j">
                    <div class="variants">
                        <div class="input-i">
                            <input type="text" id="variant1" required>
                            <label for="variant1" class="savol">
                                1-javob
                            </label>
                        </div>
                        <div class="input-i">
                            <input type="text" id="variant2" required>
                            <label for="variant2" class="savol">
                                2-javob
                            </label>
                        </div>
                        <div class="input-i">
                            <input type="text" id="variant3" required>
                            <label for="variant3" class="savol">
                                3-javob
                            </label>
                        </div>
                        <div class="input-i">
                            <input type="text" id="variant4" required>
                            <label for="variant4" class="savol">
                                4-javob
                            </label>
                        </div>
                    </div>
                    <div class="javoblar">
                        <p>Javob</p>
                        <input type="radio" class="radio" value="0" required name="javoblar">
                        <input type="radio" class="radio" value="1" required name="javoblar">
                        <input type="radio" class="radio" value="2" required name="javoblar">
                        <input type="radio" class="radio" value="3" required name="javoblar">
                    </div>
                </div>
                <button type="submit">Qo'shish</button>
            </form>
        </div>
    </div>
    <div class="edit_search_modal">
        <div class="modal">

        </div>
    </div>
    <script src="{{url_for('static', filename='app.js')}}"></script>
</body>

</html>