<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Physics Hub{% endblock %}</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="{{ url_for('static', filename='/fontawesome-free-6.7.2-web/css/all.css') }}">
</head>

<body>
    <header>
        <div class="container header-container">
            <a href="/" class="web-title">
                <img src="/static/logo.png" alt="">
                PhysicsHub
            </a>

            {% if current_user.is_authenticated %}
            <div class="user-stats">
                <!-- <span><span class="material-symbols-outlined">person</span>: {{ current_user.username }}</span> -->
                <span><span class="material-symbols-outlined">calculate</span>: {{ current_user.problems_solved
                    }}</span>
                <span><span class="material-symbols-outlined">checklist_rtl</span>: {{ current_user.tests_passed
                    }}</span>
                <span><span class="material-symbols-outlined">stars</span>: {{ current_user.points }}</span>
                <span><span class="material-symbols-outlined">military_tech</span>: #{{ current_user.rank() }}</span>
            </div>
            {% endif %}

            <div class="button-group">
                {% if current_user.is_authenticated %}
                <div class="enter-button"><a href="/profile">Profilim</a></div>
                <div class="enter-button logOut"><a href="/logout">Chiqish</a></div>
                {% else %}
                <div class="enter-button"><a href="/signin">Kirish</a></div>
                <div class="enter-button signup"><a href="/signup">Ro'yxatdan o'tish</a></div>
                {% endif %}
                <div class="mobile-nav">
                    <div class="burger">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
                            class="bi bi-list" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5" />
                        </svg>
                    </div>

                    <div class="list" id="mobile-nav-list">
                        <nav>
                            <div class="close_btn">
                                <div>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
                                        class="bi bi-x-lg" viewBox="0 0 16 16">
                                        <path
                                            d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z" />
                                    </svg>
                                </div>
                            </div>
                            <a href="/leaderboard">Reyting</a>
                            <a href="/matters">Masalalar</a>
                            <a href="/tests">Testlar</a>
                            <a href="/lab">Labaratoriya</a>
                            <a href="/team">Jamoa</a>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="container main-container">
        <nav class="navigation">
            <div class="nav-button"><a href="/leaderboard"><span class="material-symbols-outlined">military_tech</span>
                    Reyting</a>
            </div>
            <div class="nav-button"><a href="/matters"><span class="material-symbols-outlined">calculate</span>
                    Masalalar</a>
            </div>
            <div class="nav-button"><a href="/tests"><span class="material-symbols-outlined">done_outline</span>
                    Testlar</a>
            </div>

            <div class="nav-button"><a href="/gifs"><span class="material-symbols-outlined">motion_blur</span>Animatsiyalar</a></div>

            <!-- <div class="nav-button"><a href="/"><span class="material-symbols-outlined">question_exchange</span>Savol-Javob</a></div> -->
            <div class="nav-button"><a href="/lab"><span class="material-symbols-outlined">labs</span> Labaratoriya</a>
            </div>

            <div class="nav-button"><a href="/team"><span class="material-symbols-outlined">diversity_3</span> Jamoa</a>
            </div>
        </nav>
        {% block content %}{% endblock %}

    </div>

    <script src="{{url_for('static', filename='helper.js')}}"></script>
</body>

</html>