{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
<section class="main-display">
    <div class="lab-container">
        <div class="lab1-card">
            <div class="lab1-image">
                <img src="{{ url_for('static', filename='lab_list/lab1.png')}}" alt="Elektr laboratoriyasi">
            </div>
            <div class="lab1-info">
                <h2 class="lab1-title">Elektr laboratoriyasi</h2>
                <p class="lab1-description">Bu laboratoriyada elektrga oid tajribalarni bajarish mumkin. Asosiy maqsad
                    talabalarga amaliy bilim berishdir.</p>
                <a href="/labaratory/1" class="lab1-enter-btn"><button>Kirish</button></a>
            </div>
        </div>

        <div class="lab1-card">
            <div class="lab1-image">
                <img src="{{ url_for('static', filename='lab_list/lab2.png')}}" alt="Elektr laboratoriyasi">
            </div>
            <div class="lab1-info">
                <h2 class="lab1-title">Newton qonunlarining interaktiv simulyatsiyasini</h2>
                <p class="lab1-description">Bu uchta asosiy mexanik qonunni tushunish va tajriba o'tkazish uchun
                    yaratilgan vizual va dinamik model.</p>
                <a href="/labaratory/2" class="lab1-enter-btn"><button>Kirish</button></a>
            </div>
        </div>
        <div class="lab1-card">
            <div class="lab1-image">
                <img src="{{ url_for('static', filename='lab_list/elektr_zanjiri.jpg')}}" alt="Elektr laboratoriyasi">
            </div>
            <div class="lab1-info">
                <h2 class="lab1-title">Elektr zanjiri laboratoriyasi</h2>
                <p class="lab1-description">Foydalanuvchi qarshilik, kuchlanish va oqimni sozlab, Ohm qonunini tekshiradi.</p>
                <a href="/labaratory/elektr_zanjiri" class="lab1-enter-btn"><button>Kirish</button></a>
            </div>
        </div>
        <div class="lab1-card">
            <div class="lab1-image">
                <img src="{{ url_for('static', filename='lab_list/mexanik_tebranish.jpg')}}" alt="mexanik tebranish">
            </div>
            <div class="lab1-info">
                <h2 class="lab1-title">Mexanik tebranish laboratoriyasi</h2>
                <p class="lab1-description">Foydalanuvchi massali prujinali osma sistemaning tebranish chastotasini va amplitudasini o‘rganadi..</p>
                <a href="/labaratory/mexanik_tebranish" class="lab1-enter-btn"><button>Kirish</button></a>
            </div>
        </div>
        <div class="lab1-card">
            <div class="lab1-image">
                <img src="{{ url_for('static', filename='lab_list/optika_labaratoriyasi.jpg')}}" alt="optika labaratoriyasi">
            </div>
            <div class="lab1-info">
                <h2 class="lab1-title">Optika laboratoriyasi (linza va nurlar)</h2>
                <p class="lab1-description">Foydalanuvchi linza turini (yig‘uvchi/tarqatuvchi), fokus masofasini va predmet masofasini o‘rnatadi va tasvir hosil bo‘lishini ko‘radi.</p>
                <a href="/labaratory/optika_labaratoriyasi" class="lab1-enter-btn"><button>Kirish</button></a>
            </div>
        </div>
        <div class="lab1-card">
            <div class="lab1-image">
                <img src="{{ url_for('static', filename='lab_list/issiqlik_almashinuvi.jpg')}}" alt="optika labaratoriyasi">
            </div>
            <div class="lab1-info">
                <h2 class="lab1-title">Issiqlik almashinuvi laboratoriyasi</h2>
                <p class="lab1-description">Foydalanuvchi linza turini (yig‘uvchi/tarqatuvchi), fokus masofasini va predmet masofasini o‘rnatadi va tasvir hosil bo‘lishini ko‘radi.</p>
                <a href="/labaratory/issiqlik_almashinuvi" class="lab1-enter-btn"><button>Kirish</button></a>
            </div>
        </div>
        <div class="lab1-card">
            <div class="lab1-image">
                <img src="{{ url_for('static', filename='lab_list/harakat_va_kuch.jpg')}}" alt="optika labaratoriyasi">
            </div>
            <div class="lab1-info">
                <h2 class="lab1-title">Harakat va kuch (Newton qonunlari) laboratoriyasi</h2>
                <p class="lab1-description">Foydalanuvchi yuk (massa), kuch va ishqalanish qiymatlarini o‘zgartirib, tananing tezlanishini kuzatadi.</p>
                <a href="/labaratory/harakat_va_kuch" class="lab1-enter-btn"><button>Kirish</button></a>
            </div>
        </div>
        {% for lab in labs %}
        <div class="lab1-card">
            <div class="lab1-image">
                <img src="{{ url_for('static', filename=lab.pic_path) }}" alt="{{ lab.title }}">
            </div>
            <div class="lab1-info">
                <h2 class="lab1-title">{{ lab.title }}</h2>
                <p class="lab1-description">{{ lab.about }}</p>
                <a href="{{ lab.link }}" class="lab1-enter-btn"><button>Kirish</button></a>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}

{% block page_content %}
{{wtf.quick_form(form)}}
{% endblock %}