{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}

<div class="lab-container">
    <div class="lab1-card">
        <div class="lab1-image">
            <img src="{{ url_for('static', filename='/lab_list/lab1.png')}}" alt="Elektr laboratoriyasi">
        </div>
        <div class="lab1-info">
            <h2 class="lab1-title">Elektr laboratoriyasi</h2>
            <p class="lab1-description">Bu laboratoriyada elektrga oid tajribalarni bajarish mumkin. Asosiy maqsad
                talabalarga amaliy bilim berishdir.</p>
            <a href="/labaratory/1" class="lab1-enter-btn"><button>Kirish</button></a>
        </div>
    </div>

    <div class="lab1-card">
        <div class="lab1-image">
            <img src="{{ url_for('static', filename='/lab_list/lab2.png')}}" alt="Elektr laboratoriyasi">
        </div>
        <div class="lab1-info">
            <h2 class="lab1-title">Newton qonunlarining interaktiv simulyatsiyasini</h2>
            <p class="lab1-description">Bu uchta asosiy mexanik qonunni tushunish va tajriba o'tkazish uchun
                yaratilgan vizual va dinamik model.</p>
            <a href="/labaratory/2" class="lab1-enter-btn"><button>Kirish</button></a>
        </div>
    </div>
</div>
{% endblock %}

{% block page_content %}
{{wtf.quick_form(form)}}
{% endblock %}