{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}

<section class="main-display">
    <div class="leaderboard-container">
        <h1 class="title">Reyting</h1>

        <div class="leaderboard">
            <div class="leader-head">
                <h4>O'rin</h4>
                <h4>User</h4>
                <h4>Ball</h4>
                <h4>Masalalar</h4>
                <h4>Testlar</h4>
            </div>
            <div class="leader-body">
                {% for rank, user, total_points in ranked_users %}
                <div class="leader-body-item">
                    <span class="leaderboard-td">{{ rank }}</span>
                    <span class="leaderboard-td">{{ user.username }}</span>
                    <span class="leaderboard-td">{{ total_points }}</span>
                    <span class="leaderboard-td">{{ user.problems_solved }}</span>
                    <span class="leaderboard-td">{{ user.tests_passed }}</span>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block page_content %}
{{wtf.quick_form(form)}}
{% endblock %}
