{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
<div class="theme-list">
    <h1>Mavzular ro'yxati</h1>
    <ul id="theme-list">
        {% for theme in themes %}
            <li>
                <a href="/matters/{{ theme.name | lower }}">
                    <strong class="theme-name">{{ theme.name | capitalize }}</strong>: 
                    <div class="theme-about">{{ theme.about }}</div>
                </a>
            </li>
        {% endfor %}
    </ul>

</div>


{% endblock %}

{% block page_content %}
{{wtf.quick_form(form)}}
{% endblock %}