{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
<div class="theme-container">
    <h1>Mavzular ro'yxati</h1>
    <div class="theme-grid">
        {% for theme in themes %}
            <div class="theme-card">
                <a href="/matters/{{ theme.name | lower }}">
                    <h3 class="theme-name">{{ theme.name | capitalize }}</h3>
                    <hr>
                    <p class="theme-about">{{ theme.about }}</p>
                </a>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block page_content %}
{{ wtf.quick_form(form) }}
{% endblock %}
