{% extends "base.html" %}

{% block title %}Home - Physics Hub{% endblock %}


{% block content %}
<div class="profile-container">
    <div class="stats">
        <div>
            <span class="material-symbols-outlined">person</span>User: {{ current_user.username }}
        </div>
        <div>
            <span class="material-symbols-outlined">calculate</span>Yechilgan masalalar: {{ current_user.problems_solved
            }}
        </div>
        <div>
            <span class="material-symbols-outlined">checklist_rtl</span>Yechilgan testlar: {{ current_user.tests_passed
            }}
        </div>
        <div>
            <span class="material-symbols-outlined">stars</span>Point lar: {{ current_user.points }}
        </div>
        <div>
            <span class="material-symbols-outlined">military_tech</span>Rank: {{ current_user.rank() }}
        </div>
    </div>

    <form method="POST" action="{{ url_for('main.profile') }}" class="i42-form">
        <h3>Profilingizni Tahrirlash</h3>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <div class="flash-messages">
            {% for category, message in messages %}
            <div class="flash {{ category }}">
                {{ message }}
            </div>
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}
        {{ form.hidden_tag() }}
        <div>
            <label for="name">Ism:</label>
            {{ form.name(class="form-control", value=user.name) }}
        </div>
        <div>
            <label for="surname">Familiya:</label>
            {{ form.surname(class="form-control", value=user.surname) }}
        </div>
        <div>
            <label for="username">Taxallus:</label>
            {{ form.username(class="form-control", value=user.username) }}
        </div>
        <input type="hidden" name="username" value="{{ form.username.data }}">
        <div>
            <label for="university">O'qish joyi:</label>
            {{ form.university(class="form-control", value=user.university) }}
        </div>
        <div>
            <label for="password">Yangi Parol:</label>
            {{ form.password(class="form-control") }}
            <small>Parolni almashtirish shart emas.</small>
        </div>
        <button type="submit" class="btn btn-primary">Saqlash</button>
    </form>
</div>

{% endblock %}