{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
<div class="team-container">
    <div class="our-team" id="mexroj">
        <img src="/static/team/mexroj.jpg" alt="">
        <div class="team-content">
            <h3 class="title">Akhatkulov Mekhroj</h3>
            <span class="post">Back-end Dev</span>
            <ul class="social-links">
                <li><a href="https://www.linkedin.com/in/Akhatkulov/"><i class="fab fa-linkedin"></i> </a></li>
                <li><a href="https://t.me/Akhatkulov"><i class="fa-brands fa-telegram"></i> </a></li>
                <li><a href="https://www.instagram.com/42_akhatkulov"><i class="fa-brands fa-instagram"></i> </a></li>
                <li><a href="https://github.com/Akhatkulov"><i class="fa-brands fa-github"></i> </a></li>
            </ul>
        </div>
    </div>
    <div class="our-team" id="jumanazar">
        <img src="/static/team/jumanazar.jpg" alt="">
        <div class="team-content">
            <h3 class="title">O'tamurodov Jumanazar</h3>
            <span class="post">Front-end Dev</span>
            <ul class="social-links">
                <li><a
                        href="https://www.linkedin.com/in/jumanazar-otamurodov-b3b731354?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"><i
                            class="fab fa-linkedin"></i> </a></li>
                <li><a href="https://t.me/hiro_shi_016"><i class="fa-brands fa-telegram"></i> </a></li>
                <li><a href="https://www.instagram.com/hiro_shi_016?igsh=NTQ0N2t5eDB2MHls"><i
                            class="fa-brands fa-instagram"></i> </a></li>
                <li><a href="https://github.com/hiro016j"><i class="fa-brands fa-github"></i> </a></li>

            </ul>
        </div>
    </div>
    <div class="our-team" id="abbos">
        <img src="/static/team/abb.jpg" alt="">
        <div class="team-content">
            <h3 class="title">To'xtaboyev Abbos</h3>
            <span class="post">Front-end Dev</span>
            <ul class="social-links">
                <li><a href="https://t.me/kibrd_dinn"><i class="fa-brands fa-telegram"></i> </a></li>
                <li><a href="https://www.instagram.com/abbos_522__"><i class="fa-brands fa-instagram"></i> </a></li>
            </ul>
        </div>
    </div>
    <div class="our-team" id="me">
        <img src="/static/team/me.jpg" alt="">
        <div class="team-content">
            <h3 class="title">Bo'riyev Shaxriyor</h3>
            <span class="post">Front-end Dev</span>
            <ul class="social-links">
                <li><a href="https://www.linkedin.com/in/shaxriyor-bo-riyev-3470402b7/"><i
                            class="fab fa-linkedin"></i></a>
                </li>
                <li><a href="https://t.me/CanSayes"><i class="fa-brands fa-telegram"></i> </a></li>
                <li><a href="https://www.instagram.com/buriyef_/"><i class="fa-brands fa-instagram"></i> </a></li>
                <li><a href="https://github.com/Shake0707"><i class="fa-brands fa-github"></i> </a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block page_content %}
{{wtf.quick_form(form)}}
{% endblock %}