{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
<div class="team-container">
    <div class="our-team">
        <img src="/static/team/mexroj.jpg" alt="">
        <div class="team-content">
            <h3 class="title">Akhatkulov Mekhroj</h3>
            <span class="post">Back-end Dev</span>
            <ul class="social-links">
                <li><a href="#"><i class="fab fa-facebook"></i> </a></li>
                <li><a href="#"><i class="fab fa-google-plus"></i> </a></li>
                <li><a href="#"><i class="fab fa-twitter"></i> </a></li>
                <li><a href="#"><i class="fab fa-linkedin"></i> </a></li>
                <li><a href="#"><i class="fab fa-pinterest-p"></i> </a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block page_content %}
{{wtf.quick_form(form)}}
{% endblock %}